<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>VLMSClient</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LoginAction</display-name>
		<servlet-name>LoginAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.LoginAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginAction</servlet-name>
		<url-pattern>/View/LoginAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SignUpAction</display-name>
		<servlet-name>SignUpAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.SignUpAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpAction</servlet-name>
		<url-pattern>/View/SignUpAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutAction</display-name>
		<servlet-name>LogoutAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.LogoutAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutAction</servlet-name>
		<url-pattern>/View/LogoutAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HomeAction</display-name>
		<servlet-name>HomeAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.HomeAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeAction</servlet-name>
		<url-pattern>/View/HomeAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateProfileAction</display-name>
		<servlet-name>UpdateProfileAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.UpdateProfileAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateProfileAction</servlet-name>
		<url-pattern>/View/UpdateProfileAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FindMovie</display-name>
		<servlet-name>FindMovie</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.FindMovie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindMovie</servlet-name>
		<url-pattern>/View/FindMovie</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FindUser</display-name>
		<servlet-name>FindUser</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.FindUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindUser</servlet-name>
		<url-pattern>/View/FindUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminSearchMovie</display-name>
		<servlet-name>AdminSearchMovie</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.AdminSearchMovie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminSearchMovie</servlet-name>
		<url-pattern>/View/AdminSearchMovie</url-pattern>
	</servlet-mapping>
	<!-- SUD Start -->
	<servlet>
		<display-name>CreateMovieAction</display-name>
		<servlet-name>CreateMovieAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.CreateMovieAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateMovieAction</servlet-name>
		<url-pattern>/View/CreateMovieAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>UpdateMovieAction</display-name>
		<servlet-name>UpdateMovieAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.UpdateMovieAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateMovieAction</servlet-name>
		<url-pattern>/View/UpdateMovieAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>IssueMovieAction</display-name>
		<servlet-name>IssueMovieAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.IssueMovieAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueMovieAction</servlet-name>
		<url-pattern>/View/IssueMovieAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DeleteMovieAction</display-name>
		<servlet-name>DeleteMovieAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.DeleteMovieAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteMovieAction</servlet-name>
		<url-pattern>/View/DeleteMovieAction</url-pattern>
	</servlet-mapping>
	<!-- SUD End -->
	<servlet>
		<description></description>
		<display-name>UserdetailsAction</display-name>
		<servlet-name>UserdetailsAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.UserdetailsAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserdetailsAction</servlet-name>
		<url-pattern>/View/UserdetailsAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchMovieAction</display-name>
		<servlet-name>SearchMovieAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.SearchMovieAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchMovieAction</servlet-name>
		<url-pattern>/View/SearchMovieAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  	</description>
		<display-name>GenerateBillAction</display-name>
		<servlet-name>GenerateBillAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.GenerateBillAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenerateBillAction</servlet-name>
		<url-pattern>/View/GenerateBillAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ListAllUserAction</display-name>
		<servlet-name>ListAllUserAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.ListAllUserAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListAllUserAction</servlet-name>
		<url-pattern>/View/ListAllUserAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>deleteUserAction</display-name>
		<servlet-name>deleteUserAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.deleteUserAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteUserAction</servlet-name>
		<url-pattern>/View/deleteUserAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReturnMovieAction</display-name>
		<servlet-name>ReturnMovieAction</servlet-name>
		<servlet-class>com.vlms.sjsu.servlets.ReturnMovieAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReturnMovieAction</servlet-name>
		<url-pattern>/View/ReturnMovieAction</url-pattern>
	</servlet-mapping>
</web-app>